.env
*.json 
node_modules/

projet/api/firebase-credentials.json
projet/api/config/firebase-credentials.json

firebase-credentials.json
api/firebase-credentials.json
api/config/firebase-credentials.json