version: "3.9"

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: postgres_postgis
    environment:
      POSTGRES_DB: routes_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - app-network

  api:
    build: ./api
    container_name: node_api
    ports:
      - "4000:4000"
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_NAME: routes_db
      DB_USER: admin
      DB_PASSWORD: admin
      NODE_ENV: development
    networks:
      - app-network

  tileserver:
    image: maptiler/tileserver-gl
    container_name: offline_map
    ports:
      - "8080:8080"
    volumes:
      - ./maps:/data
    command: ["--file", "/data/antananarivo.mbtiles"]
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
      - tileserver
      - web
    networks:
      - app-network

  web:
    build: ./web
    container_name: react_web
    depends_on:
      - api
      - tileserver
    environment:
      VITE_API_URL: http://nginx/api
      VITE_TILES_URL: http://nginx/tiles
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge